@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #26670c;
    --clr-main-light: #2fff00;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #707e7e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}




.customShadow{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

/***user table***/
.userTable{
    @apply bg-white
}
.userTable th{
    @apply border text-base font-medium
}

.userTable td{
    @apply border text-base text-center
}

/**scrollbar hidden****/
.scrollbar-none::-webkit-scrollbar{
    display: none;
}

/* En tu archivo CSS */
.bg-green {
    background-color: #26670c;
    
  }

.text-green {
    --tw-text-opacity: 1;
    color: rgba(38, 103, 12, var(--tw-text-opacity)); 
}

/*reutilizar codigo*/
.aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.texto-footer {
    color: var(--clr-main-light);
    font-size: .85rem;
}
.main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

/** Estilos de la ventana flotante si es mayor de edad **/
/** Floating window styles **/
.floating-window {
    width: 40vw; /* Ancho completo de la pantalla */
    height: 90vh; /* Altura completa de la pantalla */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;/* Limita el ancho al 100% de la pantalla */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/** Estilos para el la ventana flotante **/
.button1 {
    background-color: #26670c;
    /** Color verde **/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    /** Borde redondeado **/
}

/** Estilo para el botón de menores de 18 **/
.button2 {
    background-color: #707e7e;
    /** Color gris **/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    /** Borde redondeado **/
}
.button1, .button2 {
    width: 48%;
    padding: 10px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 16px;
}
